img {
    width: 100%;
    border-radius: 7%;
    box-shadow: 1px 0px 3px black;
}

div {
    position: fixed;
    width: fit-content;
    width: 10%;
    left: 1vw;
    bottom: 1vw;
    user-select: none;
}